.mainPageContainer {
  transition: margin-left 0.5s;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 90vw !important;
  margin: 0 auto !important;
}

a,
a:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}

.desktopView {
  display: block;
}

.mobileView {
  display: none;
}

@media only screen and (max-width: 770px) {
  .desktopView {
    display: none;
  }

  .mobileView {
    display: block;
  }
}
